.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat' !important;
    overflow: hidden;
}
.lang{
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    padding-top: 50px;
    transition-duration: .3s;
}
.lang button{
    font-size: 24px;
    font-family: 'Montserrat' !important;
    font-weight: bold;
    color: white;
    transition-duration: .3s;
    border: 1px solid transparent;
}
.activeLang{
    color: #01737B !important;
    border: 1px solid #01737B !important;
}
.scrolledNav{
    background: white !important;
    transition-duration: .3s;
    box-shadow: 0 0 20px -8px grey !important;
    padding-bottom: 25px;
    padding-top: 25px;
}
.scrolledNav .activeLang{
    color: #01737B !important;
    border: 1px solid #01737B !important;
}
.scrolledNav button{
    color: black !important;
}

/* HOME */
.home{
    width: 100%;
    height: 100vh;
    background-color: #FDCE02;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.headerLeft{
    position: absolute;
    left: 0;
    top: 0;
}
.headerRight{
    position: absolute;
    right: 0;
    top: 40%;
}
.home h1{
    margin-block-start: 167px;
    font-size: 72px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.01em;
    margin-block-end: 0;
}
.home span{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 38px 33px;
    background: rgba(249, 229, 168, 0.6);
    border: 1px solid #000000;
    margin-top: 105px;
}
.sub{
    font-size: 48px;
    margin-top: 161px;
    text-align: center;
}
.sub p{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 600;
}
.vsegda{
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 5px 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.words{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.cation{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.cationLeft{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
}
.cationRight{
    position: absolute;
    right: 0;
    top: 20%;
}
.cationInfo{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin-top: 136px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.cationInfo img{
    z-index: 2;
}
.cationInfoContainer{
    width: 50%;
}
.cationInfo h2{
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-size: 48px;
    margin-bottom: 63px;
}
.cationInfo span{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.03em;
    display: block;
    line-height: 147.4%;
}
.cation button{
    margin-top: auto;
    position: relative;
    top: 50px;
    
}
.registerBut{
    background: #01737B !important;
    border: 7px solid #F27125 !important;
    width: 375px;
    height: 102px;
    color: white !important;
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    font-size: 36px !important;
    transition-duration: .3s !important;
    border-radius: 0 !important;
    box-sizing: border-box;
}
.registerBut a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}
.registerBut:hover{
    background: #F27125 !important;
}

/* CHAT */
.chat{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 140px;
    align-items: center;
}
.chaLeft{
    left: 0;
    position: absolute;
}
.chaRight{
    position: absolute;
    bottom: 100px;
    right: 0;
    width: 30%;
}
.chatImages{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.chatImages img{
    width: 80%;
}
.chatContent{
    text-align: right;
    margin-left: 25px;
    position: relative;
    top: -70px;
}
.chatContent h2{
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.chatSub{
    font-size: 24px;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-top: 73px;
}
.chatSub p{
    line-height: 35px;
    margin-block-end: 0;
    margin-block-start: 0;
}
.chatSub span{
    color: white;
    padding: 5px 10px;
    background: black;
}

/* ATTENTION */
.attention{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    padding-top: 110px;
    padding-bottom: 120px;
    background: #FDCE02;
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;
}
.attention p{
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 43px;
    letter-spacing: 0.03em;
}
.attentionBlack{
    color: white;
    background: black;
    padding: 5px 10px;
    width: max-content;
    text-align: center;
}

/* WHO */
.who{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    margin-top: 152px;
    max-width: 1440px;
}
.whoContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
}
.whoContainer img{
    margin-left: 10px;
    align-self: flex-start;
}
.who h2{
    align-self: flex-start;
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.whoText{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
    margin-right: 10px;
}
.whoPoint{
    display: flex;
    font-size: 25px;
}
.whoPoint span{
    margin-right: 10px;
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 5px 15px;
    padding-bottom: 15px;
}
.whoPoint p{
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 35px;
    padding-bottom: 25px;
}
.forAll{
    background-color: black;
    color: white;
    font-size: 36px;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 15px 20px;
    font-weight: 800;
    text-align: center;
    width: max-content;
    margin-left: 85px;
}

/* PROGRAM */
.program{
    width: 100%;
    display: flex;
    max-width: 1440px;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 135px;
}
.program h2{
    align-self: flex-end;
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 75px;
}
.blocks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}
.blockItem{
    width: 30%;
    padding-left: 55px;
    padding-top: 78px;
    padding-bottom: 48px;
    padding-right: 55px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.blockItem label{
    position: absolute;
    top: -12px;
    left: 7px;
    color: white;
    font-weight: bold;
    font-size: 72px;
}
.blockItem svg{
    position: absolute;
}
.blockItem h4{
    margin-block-end: 0;
    margin-block-start: 0;
    font-size: 24px;
    font-weight: bold;
}
.blockItem ul{
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    padding-left: 15px;
}
.blockItem li{
    list-style-type: "||";
    padding-left: 10px;
}
.itemGreen{
    background: #01737B;
}
.itemOrange{
    background: #E97625;
}
.itemOrange svg path{
    fill: #01737B;
}
.blockTop svg{
    right: -80px;
    top: 30px;
}
.blockBot svg{
    right: -80px;
    bottom: 30px;
}
.programEnd{
    width: 40%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 75px 50px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.whiteSpace{
    width: 80%;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: -20px;
}

/* TRENERS */
.treners{
    width: 100%;
    margin-top: 153px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.trenersContainer{
    width: 100%;
    max-width: 1440px;
    padding-left: 100px;
    box-sizing: border-box;
    padding-right: 100px;
}
.trenersBlock{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.treners h2{
    text-align: left;
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 57px;
    align-self: flex-start;
}
.trenerLeft{
    position: absolute;
    left: -80px;
    top: 320px;
    z-index: 5;
}
.trenerRight{
    position: absolute;
    right: 0;
    z-index: 5;
}
.trener{
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.openBlock{
    width: 464px;
    height: 0;
    overflow-y: hidden;
    transition-duration: .6s;
}
.open{
    height: 400px;
    padding-top: 40px;
}
.trener1Img{
    position: relative;
}
.trener h3{
    font-weight: 700;
    font-size: 36px;
    margin-block-start: 45px;
    margin-block-end: 13px;
}

/* PRICE */
.price{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
    background-color: #F27125;
    position: relative;
    height: 611px;
}
.priceContainer{
    width: 100%;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.price h2{
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 73px;
    align-self: flex-end;
    margin-top: 74px;
}
.pricesContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.priceLeft{
    bottom: -60px;
    left: 0;
    position: absolute;
}
.priceRight{
    right: -300px;
    top: -10%;
    position: absolute;
}
.priceSide h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
.priceSideText{
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
}
.priceSide + .priceSide{
    margin-top: 60px;
}

/* BONUS */

.bonus{
    width: 100%;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 148px;
}

.bonus img + img{
    position: relative;
    top: -50px;
}
.buttons{
    width: 100%;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 140px;
}
.buttons a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}
.comments{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.comments h2{
    font-size: 48px;
    margin-block-end: 0;
    margin-block-start: 0;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 73px;
}
.slider{
    background-color: #ffc107;
    width: 50%;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.slide{
    padding: 50px;
    box-sizing: border-box;
    height: 400px;
    outline: none;
}
.slide p{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.slide span{
    width: 100%;
    font-size: 16px;
    align-self: flex-end !important;
    text-align: right !important;
    float: right;
}
.footer{
    margin-top: 60px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}
.footSide{
    width: 50%;
    display: flex;
    align-items: center;
}
.footSide + .footSide{
    justify-content: flex-end;
}
.links{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footSide svg{
    width: 25px;
}
.footSide svg path{
    fill: #01737B;
    transition-duration: .3s;
}
.footSide svg:hover path{
    fill: #048c96;
}
.footSide + .footSide div{
    width: 100%;
}
.footSide button{
    background-color: #01737B !important;
    border-radius: 0 !important;
    color: white !important;
    font-family: 'Montserrat' !important;
    font-weight: bold !important;
    margin-left: 10px;
    height: 55px;
}

@media screen and (max-width: 1024px){
    .home h1{
        margin-block-start: 367px;
    }
    .attention{
        font-size: 32px;
    }
    .who{
        padding-left: 50px;
        padding-right: 50px;
    }
    .who img{
        width: 44%;
    }
    .treners h2{
        text-align: center;
    }
    .trenersBlock{
        flex-direction: column;
        align-items: center;
    }
    .trener{
        margin-bottom: 55px;
    }
    .price{
        margin-top: 55px;
    }
    .links{
        width: 80%;
    }
    .links svg{
        width: 40px;
    }
    .sub{
        text-align: center;
    }
}
@media screen and (max-width: 868px){
    .home h1{
        margin-block-start: 200px;
    }
    .cationInfo img{
        width: 60%;
    }
    .chat{
        padding-left: 50px;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .chatContent{
        width: 50%;
    }
    .attention{
        font-size: 28px;
    }
    .whoContainer{
        flex-direction: column;
        align-items: center;
    }
    .whoContainer img{
        align-self: center;
        width: 100%;
        margin-top: 25px;
    }
    .whoText{
        width: 100%;
    }
    .forAll{
        text-align: center;
        align-self: center;
        margin-left: 0;
    }
    .program h2{
        align-self: center;
    }
    .blocks{
        flex-direction: column;
        margin-bottom: 0;
    }
    .blockItem{
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 67px;
    }
    .programEnd{
        width: 100%;
        box-sizing: border-box;
    }
    .trenerRight{
        width: 170px;
    }
    .price{
        height: max-content;
        padding-bottom: 200px;
    }
    .pricesContainer{
        flex-direction: column;
        align-items: center;
    }
    .price h2{
        align-self: center;
    }
    .priceSide{
        text-align: center;
    }
    .bonus{
        flex-direction: column;
    }
    .bonus img + img{
        margin-top: 70px;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    .buttons .registerBut{
        margin-bottom: 25px;
    }
    .slider{
        width: 80%;
    }
    .footer{
        flex-direction: column;
        height: max-content;
        align-items: center;
    }
    .footer a{
        height: 50px;
    }
    .links{
        width: 100%;
    }
    .footSide{
        margin-bottom: 25px;
        width: 100%;
    }
}

@media screen and (max-width: 658px){
    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footSide + .footSide{
        flex-direction: column;
    }
    .footSide button{
        width: 100%;
        margin-top: 15px;
    }
    .comments h2{
        font-size: 32px;
    }
    .priceContainer{
        padding-left: 50px;
        padding-right: 50px;
    }
    .price h2{
        font-size: 32px;
    }
    .trenersContainer{
        padding-left: 50px;
        padding-right: 50px;
    }
    .trener{
        width: 100%;
    }
    .trenerRight{
        display: none;
    }
    .trenerLeft{
        display: none;
    }
    .trener img{
        width: 100%;
    }

    .openBlock{
        width: 100%;
    }
    .program h2{
        font-size: 32px;
    }
    .who h2{
        font-size: 32px;
        align-self: center;
    }
    .attention{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }
    .chat{
        flex-direction: column;
        height: max-content;
        margin-bottom: 50px;
    }
    .chatImages{
        margin-right: 0;
    }
    .chatImages img{
        width: 100%;
    }
    .chaLeft{
        display: none;
    }
    .chatContent{
        width: 100%;
        top: 0
    }
    .chat h2{
        font-size: 32px;
    }
    .chatSub{
        margin-top: 25px;
    }
    .chaRight{
        display: none;
    }
    .cationLeft{
        display: none;
    }
    .cationRight{
        display: none;
    }
    .headerLeft{
        width: 150px;
    }
    .headerRight{
        width: 100px;
    }
    .lang{
        padding-left: 50px;
        padding-right: 50px;
    }
    .home h1{
        font-size: 38px;
    }
    .home span{
        font-size: 22px;
        padding: 26px 31px;
        margin-top: 66px;
    }
    .treners h2{
        font-size: 32px;
    }
    .sub{
        font-size: 22px;
        margin-top: 85px;
    }
    .cation img{
        display: none;
    }
    .cationInfo{
        padding-left: 50px;
        padding-right: 50px;
    }
    .cationInfoContainer{
        width: 100%;
    }
    .cation h2{
        font-size: 32px;
    }
    .cation button{
        top: 0;
    }
    .forAll{
        margin-top: 15px;
    }
}

@media screen and (max-width: 468px){
    .slide{
        padding: 20px;
    }
    .slide p{
        font-size: 13px;
    }
    .slider{
        padding: 0;
    }
    .slide span{
        align-self: center !important;
        text-align: center !important;
    }
    .bonus img{
        width: 300px;
    }
    .cationInfo{
        margin-top: 70px;
    }
    .treners{
        margin-top: 70px;
    }
    .trener h3{
        text-align: center;
    }
}

@media screen and (max-width: 375px){
    .registerBut{
        width: 250px;
        font-size: 24px !important;
    }
    .chat{
        margin-top: 80px;
    }
    .attention{
        font-size: 14px;
    }
    .who{
        margin-top: 70px;
    }
    .who h2{
        text-align: center;
    }
    .whoPoint{
        font-size: 22px;
    }
    .blockItem{
        padding-left: 20px;
        padding-right: 20px;
    }
    .trener h3{
        font-size: 24px;
    }
    .priceSide h3{
        font-size: 24px;
    }
    .priceSideText{
        font-size: 16px;
    }
    .comments h2{
        text-align: center;
    }
    .program{
        margin-top: 70px;
    }
    .comments{
        margin-top: 70px;
        display: none;
    }
    .buttons{
        margin-top: 70px;
    }
}

@media screen and (max-width: 350px){
    .lang{
        padding-left: 20px;
        padding-right: 20px;
    }
    .home h1{
        font-size: 32px;
        margin-top: 180px;
    }
    .home span{
        margin-top: 44px;
        padding: 8px 7px;
    }
    .sub{
        margin-top: 50px;
    }
    .cation button{
        margin-top: 45px;
    }
    .cationInfo span{
        font-size: 22px;
    }
    .who{
        padding-left: 20px;
        padding-right: 20px;
    }
    .whoPoint{
        font-size: 18px;
    }
    .trener h3{
        font-size: 20px;
    }
    .programEnd{
        font-size: 18px;
    }
}