html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'Montserrat' !important;
}


::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #FDCE02;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}